<form  method="post">
    {% csrf_token %}
    <div class="ui form segment">
      <div class="fields">
        <div class="sixteen wide field">
          <label>Ташувчи фирма номи</label>
          {{form.name}}
        </div>
      </div>
      <div class="fields">
        <div class="sixteen wide field">
          <label>Келишув нархи</label>
          {{form.narx}}
        </div>
      </div>
      <button class="fluid ui button teal mt-2">&nbsp;Y&nbsp;O&nbsp;B&nbsp;O&nbsp;R&nbsp;I&nbsp;S&nbsp;H</button>    
    </div>  
</form>