{% extends 'docs/dashboard.html' %}

{% block content %}

<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list pr-2"></i>ПАХТА ТАШИШ</h1>
      <p>ПАХТА ТАШИШ БУЙИЧА РЕЕСТИ</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">РЕЕСТР</li>
      <li class="breadcrumb-item active"><a href="#">ПАХТА ТАШИШ</a></li>
    </ul>
  </div>
  
  
  {% include 'forms/forms-inc.html' %}
  <div class="col-12 pt-5">
  {% include 'forms/mini-table.html'%}
  </div>  
</main>

{% endblock %}


