<div class="ui warning form segment">
  <div class="two fields">
    <div class="field">
      <label>Накладной  №</label>
      {{form.nak_num}}
    </div>
    <div class="field">
        <label>Транспорт №</label>
        <select class="ui dropdown">
          <option value="">Gender</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
    </div>
  </div>

  <div class="four fields">
    <div class="field">
      <label>Соф вазни</label>
      <input  type="text">
    </div>
    <div class="field">
      <label>Партия №</label>
        <select class="ui dropdown">
          <option value="">Gender</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
    </div>
    <div class="field">
      <label>Ифлослик %</label>
      <input  type="text">
    </div>
    <div class="field">
      <label>Намлик %</label>
      <input  type="text">
    </div>
  </div>    
<div class="ui submit button">Submit</div>

















