<form  method="post">
{% csrf_token %}
<div class="ui form segment">
  <div class="three fields">
    <div class="field">
      <label>Накладной  №</label>
      {{form.date}}
    </div>
    <div class="field">
      <label>Накладной  №</label>
      {{form.nak_num}}
    </div>
    <div class="field">
        <label>Транспорт №</label>
        {{form.transport}}
    </div>
  </div>

  <div class="four fields">
    <div class="field">
      <label>Соф вазни</label>
      {{form.sofVazn}}
    </div>
    <div class="field">
      <label>Партия №</label>
        {{form.partiya}}
    </div>
    <div class="field">
      <label>Ифлослик %</label>
      {{form.ifloslik}}
    </div>
    <div class="field">
      <label>Намлик %</label>
      {{form.namlik}}
    </div>
  </div>
  <button class="fluid ui button teal mt-5">&nbsp;Y&nbsp;O&nbsp;B&nbsp;O&nbsp;R&nbsp;I&nbsp;S&nbsp;H</button>    
</form>















