<div class="ui warning form segment">
  <div class="two fields">
    <div class="field">
      <label>Накладной  №</label>
      {{form.nak_num}}
    </div>
    <div class="field">
        <label>Транспорт №</label>
        <select class="ui dropdown">
          <option value="">---------</option>
          {% for i in tr_list %}
          <option value="{{i.id}}">{{i.tr_num}}</option>
          {% endfor %}
        </select>
    </div>
  </div>

  <div class="four fields">
    <div class="field">
      <label>Соф вазни</label>
      {{form.sofVazn}}
    </div>
    <div class="field">
      <label>Партия №</label>
        <select class="ui dropdown">
          <option value="">Gender</option>
          
        </select>
    </div>
    <div class="field">
      <label>Ифлослик %</label>
      <input  type="text">
    </div>
    <div class="field">
      <label>Намлик %</label>
      <input  type="text">
    </div>
  </div>    
<div class="ui submit button">Submit</div>

















