<table class="table table-sm table-bordered text-center">
    <thead>
      <tr>
        <th class="align-middle" scope="col">№</th>
        <th class="align-middle" scope="col">Партия <br> №</th>
        <th class="align-middle" scope="col">Селекция</th>
        <th class="align-middle" scope="col">Сўрти</th>
        <th class="align-middle" scope="col">Сниф</th>
        <th class="align-middle" scope="col">Физик <br> вазни</th>
        <th class="align-middle" scope="col">Ўртача <br> Ифлослик %</th>
        <th class="align-middle" scope="col">Хисобий <br> вазни</th>
        <th class="align-middle" scope="col">Ўртача <br> Намлик %</th>
        <th class="align-middle" scope="col">Кондицион <br> вазни</th>
        <th class="align-middle" scope="col">ПТМ</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tash %}
     
      <tr>
       <td>{{t.date|date:"d.m.Y"}}</td>
       <td>{{t.transport__tr_num}}</td>
       <td>{{t.sofVazn}}</td>
       <td>{{t.partiya__partiya}}</td>
       <td>{{t.ifloslik}}</td>
       <td>{{t.namlik}}</td>
       <td>{{t.xisobiy}}</td>
       <td>{{t.kond}}</td>
       <td>{{t.ptm__name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>