<table class="table table-sm table-bordered text-center">
    <thead>
      <tr>
        <th class="align-middle" scope="col">№</th>
        <th class="align-middle" scope="col">Партия <br> №</th>
        <th class="align-middle" scope="col">Селекция</th>
        <th class="align-middle" scope="col">Сoрти</th>
        <th class="align-middle" scope="col">Сниф</th>
        <th class="align-middle" scope="col">Физик <br> вазни</th>
        <th class="align-middle" scope="col">Ўртача <br> Ифлослик %</th>
        <th class="align-middle" scope="col">Хисобий <br> вазни</th>
        <th class="align-middle" scope="col">Ўртача <br> Намлик %</th>
        <th class="align-middle" scope="col">Кондицион <br> вазни</th>
        <th class="align-middle" scope="col">ПТМ</th>
      </tr>
    </thead>
    <tbody>
      {% for p in part %}
     
      <tr>
       <td>{{forloop.counter}}</td>
       <td>{{p.partiya}}</td>
       <td>{{p.nav}}</td>
       <td>{{p.sort}}</td>
       <td>{{p.snif}}</td>
       <td>{{p.sofVazn}}</td>
       <td>{{p.ifloslik}}</td>
       <td>{{p.xisobiy}}</td>
       <td>{{p.namlik}}</td>
       <td>{{p.kond}}</td>
       <td>{{p.ptm}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>