<div class="ui form segment">
    <div class="form pb-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-2">
                <select class="ui fluid dropdown" name="ptm">
                    <option value="{{i.name}}">------</option>
                    {% for i in choices %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="ui primary button">ПТМ</button>
        </div>
        </form>
    </div>
    <h6>&ensp;{{ptm}}</h6>
    <div class="table-responsive-lg">
        <table class="table table-sm table-bordered text-center">
            <thead>
              <tr>
                <th rowspan="2" class="align-middle" scope="col">Партия<br>№</th>
                <th rowspan="2" class="align-middle" scope="col">Бунт<br>№</th>
                <th rowspan="2" class="align-middle" scope="col">Селекция</th>
                <th rowspan="2" class="align-middle" scope="col">Сорти <br> Снифи</th>
                <th rowspan="2" class="align-middle" scope="col">Физик <br>вазн</th>
                <th rowspan="2" class="align-middle" scope="col">Хисобий <br>вазн</th>
                <th rowspan="2" class="align-middle" scope="col">Кондицион<br>вазн</th>
                <th rowspan="2" class="align-middle" scope="col">Уртача<br>ифлослик</th>
                <th rowspan="2" class="align-middle" scope="col">Уртача <br>намлик</th>
                <th colspan="2" class="align-middle" scope="col">Корхонага<br>жунатилди</th>
                <th colspan="2" class="align-middle" scope="col">Колдик</th>
            </tr>
            <tr>
                <th class="align-middle" scope="col">Физик <br></th>
                <th class="align-middle" scope="col">Кондицион <br>
                <th class="align-middle" scope="col">Физик<br></th>
                <th class="align-middle" scope="col">Кондицион</th>
            </tr>
            </thead>
            <tbody>
            {% for i in part %}
            <tr>
                <td>{{i.partiya}}</td>
                <td>{{i.bunt}}</td>
                <td>{{i.nav__nav_name}}</td>
                <td>{{i.sort}}.{{i.snif}}</td>
                <td>{{i.sofVazn|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.xisobiy|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.kond|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.ifloslik|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.namlik|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.sof|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.fizik|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.koldiqs|default_if_none:"0"|floatformat:1}}</td>
                <td>{{i.koldiqk|default_if_none:"0"|floatformat:1}}</td>
                
            </tr>
            {% endfor %}
          </table>        
    </div>
</div> 
