{% extends 'docs/dashboard.html' %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <h1><i class="fa fa-th-list pr-2"></i>ПАХТА ЗАВОД</h1>
        <p>КАБУЛ КЛИШ</p>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">АДМИН</li>
            <li class="breadcrumb-item active"><a href="#">ТАШИШ АДМИН</a></li>
        </ul>
    </div>
    
    <div class="container-fluid">
        {% include 'ptm/ptm-inc.html' %}
    </div>   
</main>
{% endblock %}