    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list pr-2"></i>ПАХТА ТАШИШ</h1>
          <p>ПАХТА ТАШИШ БУЙИЧА РЕЕСТИ</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">РЕЕСТР</li>
          <li class="breadcrumb-item active"><a href="#">ПАХТА ТАШИШ</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered text-center  text-info table-sm" id="sampleTable" >
                  <thead style="line-height:30px ;">
                    <tr>
                      <th scope="col" class="align-middle">САНА</th>
                      <th scope="col" class="align-middle">НАКЛАДНОЙ №</th>
                      <th scope="col" class="align-middle">ТРАНСПОРТ МАРКА</th>
                      <th scope="col" class="align-middle">ТРАНСПОРТ РАКАМ</th>
                      <th scope="col" class="align-middle">СОФ ВАЗНИ</th>
                      <th scope="col" class="align-middle">ПАРТИЯ</th>
                      <th scope="col" class="align-middle">ИФЛОСЛИК</th>
                      <th scope="col" class="align-middle">НАМЛИК</th>
                      <th scope="col" class="align-middle">ХИСОБИЙ ВАЗН</th>
                      <th scope="col" class="align-middle" >КОНДИЦИОН ВАЗН</th>
                      <th class="align-middle">Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in rees %}
                    <tr>
                      <td scope="col">{{i.date|date:"d.m.Y" }}</td>
                      <td scope="col">{{i.nak_num}}</td>
                      <td scope="col" class="">{{i.transport__rusum}}</td>
                      <td scope="col">{{i.transport__tr_num}}</td>
                      <td scope="col">{{i.sofVazn}}</td>
                      <td scope="col">{{i.partiya__partiya}}</td>
                      <td scope="col" class="">{{i.ifloslik}}</td>
                      <td scope="col" class="">{{i.namlik}}</td>
                      <td scope="col" class="">{{i.xisobiy}}</td>
                      <td scope="col">{{i.kond}}</td>
                      {% if i.imzo %}
                      <td><button type="button" class="btn btn-sm btn-primary" disabled>izmolangan</button></td>
                      {% else %}
                      <td><button type="button" class="btn btn-sm btn-danger" disabled>imzolanmagan</button></td>
                      {% endif %}

                    </tr>
                    {% endfor  %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    